<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
  <link
        href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
        rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

        <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
        <link href="/css/custom.css" rel="stylesheet" />
        <!-- Bootstrap Core CSS -->
        <link href="/css/bootstrap.css" rel="stylesheet" />
    
        <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
        <link href="/css/custom.css" rel="stylesheet" />
  <style>
    body {

      background-image: url("/images/regis.jpg");

    }

    * {
      box-sizing: border-box;
    }

  

        .header-content2 {
            margin-top: 100px;
            margin-left: 175px;
            
            width: 1000px;
            color: black;
            height: 100%;
            align-content: left;
        }
    .selected1 {
      background-color: rgb(250, 252, 209);
      border: 1px solid transparent;
      border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
      cursor: pointer;
      width: 1000px;
      height: 40px;
    }

    .selected {
      background-color: rgb(250, 252, 209);
      border: 1px solid transparent;
      border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
      cursor: pointer;
      width: 170px;
      height: 40px;
    }

    /* Add padding to containers */
    .container {
      margin: 0 auto;
      widows: 90%;
      margin-top: 40px;
      padding: 10px;
      background-color: aliceblue;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    td,
    th {

      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #e1f769;
    }

    /* Full-width input fields */
    input[type=text],
    input[type=password],
    input[type=email] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #e1f769;
    }

    input[type=text]:focus,
    input[type=password]:focus,
    input[type=email]:focus {
      background-color: rgb(253, 253, 253);
      outline: none;
    }

    /* Overwrite default styles of hr */
    hr {
      border: 1px solid #f1f1f1;
      margin-bottom: 25px;
    }

    /* Set a style for the submit button */
    .registerbtn {
      background-color: rgb(240, 237, 52);
      color: rgb(0, 0, 0);
      padding: 16px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
    }

    .registerbtn:hover {
      opacity: 1;
    }

    /* Add a blue text color to links */
    a {
      color: dodgerblue;
    }
  </style>
 
  <title>WELCOME</title>
</head>

<body>
  
   <nav id="siteNav" sec:authorize="hasRole('ADMIN')" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
   
      
      <div class="collapse navbar-collapse" id="navbar" style="background-color: black;">
          <ul class="nav navbar-nav navbar-right">
              <li>
                  <a sec:authentication="principal.username" href="/admin"></a>
              </li>
              <li class="active">
                  <a href="/admin">HOME</a>
              </li>
             
              
              <li>
              <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">LOGOUT</a></li>
              </li>

          </ul>

      </div>
    </div>
  </nav>
  <header sec:authorize="hasRole('ADMIN')">

      <div class="header-content2" sec:authorize="hasRole('ADMIN')">
      
      <form name="forma" th:action="@{/admin/config/user}" method="POST" th:object="${informations}" enctype="utf8">
     <div class="container">
        <p  style="color: blue">Please fill some information so you can finish user [[${email}]] registration</p>
        <h4 style="color: red;">[[${message}]] </h4>
        <div>
          <label>Height:</label>
          <input type="text" th:field="*{height}" />
          <label>Weight:</label>
          <input type="text" th:field="*{weight}"/>
          
        </div> 
        <hr>
         <div>
           <h3>Paying</h3>
            <table >
              <thead>
                <tr>
                  <th><span>Name of paying</span></th>
                  <th><span >Description</span></th>
                  <th><span >Time a week</span></th>
                  <th><span >Price (kn)</span></th>
                </tr>
              </thead>
              
              <tbody>
              
                <tr  th:each=" paying, stat : ${payings}" >
              
                  <td><span th:text="${payings[__${stat.index}__].name}"></span></td>
                  <td><span th:text="${payings[__${stat.index}__].description}"></span></td>
                  <td><span th:text="${payings[__${stat.index}__].timeAWeek}"></span></td>
                  <td><span th:text="${payings[__${stat.index}__].price}"></span></td>
                </tr>
               
                
              </tbody>
            
            </table>
            <br>
       
            <select class="selected" th:field="*{selectedPay}" >
                <option value=""><h4>Choose paying</h4></option>
                <option name="sel" th:each="paying, stat : ${payings}" th:value="${payings[__${stat.index}__].id}" th:text="${payings[__${stat.index}__].name}"></option>
            </select>
           
         
            <hr>
            <hr><br>
            <select class="selected" th:field="*{wayPaying}" >
                <option value=""><h4>Choose way paying</h4></option>
                <option name="sel" th:each="way, stat : ${wayofpay}" th:value="${wayofpay[__${stat.index}__].id}" th:text="${wayofpay[__${stat.index}__].way}"></option>
            </select>
            <input type="text" th:field="*{iban}" placeholder="If you choose card insert iban"/>
            <hr><br>
            <div>
                <select class="selected1" th:field="*{selectedProgram}" >
                    <option value=""><h4>Choose workout type program</h4></option>
                    <option th:each="program, stat : ${programs}" th:value="${programs[__${stat.index}__].program_id}" th:text=" ${programs[__${stat.index}__].typeOfWorkout}"></option>
                </select>
            </div>
            
            </div>
            
            <hr>
            <br>
  
    
        <button class="registerbtn" type="submit" >submit</button>
            </div>
    </form>
  </div>
  </header> 


  <form  name="forma" th:action="@{/welcome}" method="POST" th:object="${informations}"
    enctype="utf8" sec:authorize="hasRole('USER')"  >
    <div class="container" >
      <h1>Hello [[${name}]] </h1>
      <h4 style="color: red;">[[${message}]] </h4>
      <p style="color: blue">Please fill some information so you can finish your registration</p>
      <hr>
      <div>
        <label>Height:</label>
        <input type="text" th:field="*{height}" />
        <label>Weight:</label>
        <input type="text" th:field="*{weight}"/>     
      </div> 

      <hr>
       <div>
         <h3>Paying</h3>
          <table >
            <thead>
              <tr>
                <th><span>Name of paying</span></th>
                <th><span >Description</span></th>
                <th><span >Time a week</span></th>
                <th><span >Price (kn)</span></th>
              </tr>
            </thead>
            
            <tbody>
            
              <tr  th:each=" paying, stat : ${payings}" >
            
                <td><span th:text="${payings[__${stat.index}__].name}"></span></td>
                <td><span th:text="${payings[__${stat.index}__].description}"></span></td>
                <td><span th:text="${payings[__${stat.index}__].timeAWeek}"></span></td>
                <td><span th:text="${payings[__${stat.index}__].price}"></span></td>
              </tr>
             
              
            </tbody>
          
          </table>
          <br>
        
          <select class="selected" th:field="*{selectedPay}" >
              <option value=""><h4>Choose paying</h4></option>
              <option name="sel" th:each="paying, stat : ${payings}" th:value="${payings[__${stat.index}__].id}" th:text="${payings[__${stat.index}__].name}"></option>
          </select>
         
       
          <hr><br>
          <select class="selected" th:field="*{wayPaying}" >
              <option value=""><h4>Choose way of paying</h4></option>
              <option name="sel" th:each="way, stat : ${wayofpay}" th:value="${wayofpay[__${stat.index}__].id}" th:text="${wayofpay[__${stat.index}__].way}"></option>
          </select>
          <br>
          <input type="text" th:field="*{iban}" placeholder="If you choose card insert iban"/>
          <br>
           <div>
           
              <select class="selected1" th:field="*{selectedProgram}" >
                  <option value=""><h4>Choose workout type program</h4></option>
                  <option th:each="program, stat : ${programs}" th:value="${programs[__${stat.index}__].program_id}" th:text=" ${programs[__${stat.index}__].typeOfWorkout}"></option>
              </select>
               <p>If you not sure what to choose, you can edit it later in settings!</p>
          </div> 
         
          
      </div>
          
          <hr>
          <br>


    </div>
  
      <button class="registerbtn" type="submit" >submit</button>

  </form>

 

</body>
</html>