<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
        <meta charset="utf-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <style>
                body {

                        background-image: url("/images/regis.jpg");

                }


                * {
                        box-sizing: border-box;
                }

                /* Add padding to containers */
                .container2 {
                        margin: 0 auto;
                        margin-top: 170px;
                        margin-right: 100px;
                        margin-left: 100px;
                        padding: 70px;
                        background-color: aliceblue;
                }

                /* Full-width input fields */
                input[type=text],
                input[type=password],
                input[type=email] {
                        width: 100%;
                        padding: 15px;
                        margin: 5px 0 22px 0;
                        display: inline-block;
                        border: none;
                        background: #f1f1f1;
                }

                input[type=text]:focus,
                input[type=password]:focus,
                input[type=email]:focus {
                        background-color: #ddd;
                        outline: none;
                }

                /* Overwrite default styles of hr */
                hr {
                        border: 1px solid #f1f1f1;
                        margin-bottom: 25px;
                }

                /* Set a style for the submit button */
                .registerbtn {
                        background-color: rgb(240, 237, 52);
                        color: rgb(0, 0, 0);
                        padding: 16px 20px;
                        margin: 8px 0;
                        border: none;
                        cursor: pointer;
                        width: 100%;
                        opacity: 0.9;
                }

                .registerbtn:hover {
                        opacity: 1;
                }

                /* Add a blue text color to links */
                a {
                        color: dodgerblue;
                }

                /* Set a grey background color and center the text of the "sign in" section */
                .signin {
                        background-color: #f1f1f1;
                        text-align: center;
                }
        </style>
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

        <title>Login</title>
        <link href="/css/bootstrap.css" rel="stylesheet" />

        <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
        <link href="/css/custom.css" rel="stylesheet" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

        <!-- Custom Fonts from Google -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
                rel='stylesheet' type='text/css'>

</head>

<body>

        <!-- Navigation -->
        <nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                        <!-- Logo and responsive toggle -->
                        <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse"
                                        data-target="#navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                </button>

                        </div>
                        <!-- Navbar links -->
                        <div class="collapse navbar-collapse" id="navbar">
                                <ul class="nav navbar-nav navbar-right">
                                        <li class="active">
                                                <a href="/">HOME</a>
                                        </li>
                                        <li>
                                                <a href="/welcome/settings">SETTINGS</a>
                                        </li>
                                        <li>
                                                <a href="/welcome/statistic">STATISTIC</a>
                                        </li>

                                        <li>
                                                <a href="/welcome/deactivate">DEACTIVATE</a>
                                        </li>

                                        <li>
                                        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">LOGOUT</a></li>
                                        </li>
                                </ul>

                        </div><!-- /.navbar-collapse -->
                </div><!-- /.container -->
        </nav>


        <div class="container2">
                <h1>Hello [[${name}]] </h1>
                <p style="color: blue">Welcome to statistic. Here you can see your progress.</p>
                <hr>
                <table >
                        <thead>
                          <tr>
                            <th><span>Month</span></th>
							<th><span>Paid</span></th>
                            <th><span>Day</span></th>
                          </tr>
                        </thead>
                        
                        <tbody th:each=" months, stat : ${beendates}">
                        
                          <tr  >
                        
                            <td><span th:text="${beendates[__${stat.index}__].month}"></span></td>
							
                            <td><span th:if=="${beendates[__${stat.index}__].payed}">Paid</span></td>
							<td><span th:unless="${beendates[__${stat.index}__].payed}">Not paid</span></td>
                            <td th:each=" dates, Stat : ${beendates[__${stat.index}__].days}"><span  th:text="${beendates[__${stat.index}__].days[__${Stat.index}__].dayD}"></span></td>

                          
                          </tr>
                         
                          
                        </tbody>
                      
                      </table>
                      <br>
					  
        </div>



        <footer style="background-color:yellow;position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; height: 50px;" class="page-footer">


                <div class="container">
                        <p>Copyright &copy; Marija Vujcic APOLON </p>
                </div>


        </footer>
</body>

</html>